html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: white;
  box-shadow: 0 0 0 2px gray;
}

.layout-main {
  top: 0;
  width: 100%;
  padding-left: 200px;
}

.header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: #883cae;
  padding-top: 10px;
}

.screen-container {
  flex: auto;
  left: 50%;
  margin-left: 2px;
  margin-top: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #6c757d;
  padding-top: 10px;
}

.layout-menu-close .layout-main {
  padding-left: 60px;
}

.layout-menu-close .left-sidebar {
  width: 60px;
  -moz-transition: transform 1s;
  -o-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}
