<div class="row">
    <!-- <div class="col-md-10 text-center">
        <img href="#" src="../../../assets/bonus_target_logo.png" height="80px" alt="bonus target logo">
    </div> -->
    <div class="col-md-12" style="text-align: right; padding-right: 20px;font-size: 30px;">
        <em class="fa fa-bars" (click)="menuOpen()"></em>
    </div>
    <hr>
    <div class="col-md-12">
        <div class="row menu-item" *ngFor="let item of menuList">
            <div class="col-3" style="margin-left: 15px;">
                <em [class]="item.icon"></em>
            </div>
            <div *ngIf="isMenuOpen" class="col-7 menu-item-title" (click)="menuClick(item.targetUrl)">
                {{ item.title }}
            </div>
        </div>
    </div>
</div>
