<ul [ngClass]="{'p-submenu-list': !root, 'p-menubar-root-list': root}" [attr.role]="root ? 'menubar' : 'menu'">
    <ng-template ngFor let-child [ngForOf]="item?.items">
        <li *ngIf="child.separator" class="p-menu-separator" [ngClass]="{'p-hidden': child.visible === false}"
            role="separator">
        <li *ngIf="!child.separator" #listItem
            [ngClass]="{'p-menuitem':true, 'p-menuitem-active': child === activeItem, 'p-hidden': child.visible === false}"
            [ngStyle]="child.style" [class]="child.styleClass!" role="none">
            <a *ngIf="!child.routerLink" [attr.href]="child.url" [attr.data-automationid]="child.automationId"
                [attr.target]="child.target" [attr.title]="child.title" [attr.id]="child.id" role="menuitem"
                (click)="onItemClick($event, child)" (mouseenter)="onItemMouseEnter($event,child)"
                [ngClass]="{'p-menuitem-link':true,'p-disabled':child.disabled}"
                [attr.tabindex]="child.disabled ? null : '0'" [attr.aria-haspopup]="item?.items != null"
                [attr.aria-expanded]="item === activeItem" pRipple>
                <span class="p-menuitem-icon" *ngIf="child.icon" [ngClass]="child.icon"></span>
                <span class="p-menuitem-text" *ngIf="child.escape !== false; else htmlLabel">{{child.label}}</span>
                <ng-template #htmlLabel><span class="p-menuitem-text" [innerHTML]="child.label"></span></ng-template>
                <span class="p-submenu-icon pi" *ngIf="child.items"
                    [ngClass]="{'pi-angle-down':root,'pi-angle-right':!root}"></span>
            </a>
            <a *ngIf="child.routerLink" [routerLink]="child.routerLink" [attr.data-automationid]="child.automationId"
                [queryParams]="child.queryParams" [routerLinkActive]="'p-menuitem-link-active'"
                [routerLinkActiveOptions]="child.routerLinkActiveOptions||{exact:false}" [attr.target]="child.target"
                [attr.title]="child.title" [attr.id]="child.id" [attr.tabindex]="child.disabled ? null : '0'"
                role="menuitem" (click)="onItemClick($event, child)" (mouseenter)="onItemMouseEnter($event,child)"
                [ngClass]="{'p-menuitem-link':true,'p-disabled':child.disabled}" [fragment]="child.fragment"
                [queryParamsHandling]="child.queryParamsHandling" [preserveFragment]="child.preserveFragment!"
                [skipLocationChange]="child.skipLocationChange!" [replaceUrl]="child.replaceUrl!" [state]="child.state"
                pRipple>
                <span class="p-menuitem-icon" *ngIf="child.icon" [ngClass]="child.icon"></span>
                <span class="p-menuitem-text" *ngIf="child.escape !== false; else htmlRouteLabel">{{child.label}}</span>
                <ng-template #htmlRouteLabel><span class="p-menuitem-text" [innerHTML]="child.label"></span>
                </ng-template>
                <span class="p-submenu-icon pi" *ngIf="child.items"
                    [ngClass]="{'pi-angle-down':root,'pi-angle-right':!root}"></span>
            </a>
            <bns-menu-item [parentActive]="child === activeItem" [item]="child" *ngIf="child.items"
                [mobileActive]="mobileActive" [autoDisplay]="autoDisplay" (leafClick)="onLeafClick()"></bns-menu-item>
        </li>
    </ng-template>
</ul>